@font-face {
    font-family: 'monterey';
    src: url(./monterey/MontereyFLF.ttf) format('truetype');
}
h2 {
    font-size: xx-small;
}
#header {
    text-align: center;
    font-family: 'monterey';
}